// 后台管理背景色
$admin-background-color: #2e323f;

// logo字体颜色
$logo-font-color: #dad1d1;

// logo字体类型
$logo-font-family: STXingkai;

// 激活导航菜单颜色
$active-menu-color: #d69040;

// 前台操作主题颜色
$index-operate-color: orange;

// 列表标题hover颜色
$list-item-hover-color: rgba(214, 150, 30, 0.877);

// 笔记字体颜色
$note-font-color: #777777;
