<app-admin-title titleName="用户管理"></app-admin-title>
<div class="container">
  <div class="operate">
    <span class="operate_title">添加用户：</span>
    <button nz-button nzType="primary" class="item_gap" (click)="toggleModal('addUserModalStatus')">
      单个添加用户
    </button>
    <button nz-button nzType="primary" (click)="toggleModal('importUserModelStatus')">
      批量添加用户
    </button>
  </div>
  <div class="filter">
    <span class="filter_title">查询用户：</span>
    <form class="filter_form">
      <input
        class="item_gap form_item"
        [(ngModel)]="userQueryForm.account"
        nz-input
        name="account"
        placeholder="用户账号"
      />
      <input
        class="item_gap form_item"
        [(ngModel)]="userQueryForm.username"
        nz-input
        name="username"
        placeholder="用户名"
      />
      <nz-select
        [(ngModel)]="userQueryForm.role"
        name="role"
        nzAllowClear
        nzPlaceHolder="用户角色"
        class="item_gap form_item"
      >
        <nz-option
          *ngFor="let userRole of userRoles"
          [nzValue]="userRole.value"
          [nzLabel]="userRole.name"
        ></nz-option>
      </nz-select>
      <button nz-button nzType="primary" (click)="searchUserData(1)">
        <i nz-icon type="search"></i>查询
      </button>
    </form>
  </div>
  <!-- 用户列表 -->
  <div class="list">
    <div class="table_title">用户列表</div>
    <nz-table
      #basicTable
      [nzFrontPagination]="false"
      [nzData]="userTableInfo.data"
      [nzLoading]="userTableInfo.loading"
      [nzTotal]="userTableInfo.total"
      [(nzPageIndex)]="userTableInfo.pageNum"
      [(nzPageSize)]="userTableInfo.pageSize"
      (nzPageIndexChange)="searchUserData()"
    >
      <thead>
        <tr>
          <th>用户ID</th>
          <th>用户账号</th>
          <th>用户名</th>
          <th>角色</th>
          <th>最近登录</th>
          <th>创建时间</th>
          <th>更新时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.account }}</td>
          <td>{{ data.username }}</td>
          <td>{{ data.role }}</td>
          <td>{{ (data.loginTime | date: 'yyyy-MM-dd HH:mm:ss') || '/' }}</td>
          <td>{{ data.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ data.updateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td *ngIf="data.role !== '管理员'; else isAdminTdTpl">
            <a (click)="handleOpenEditModal(data.id)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="handleDeleteUser(data.id)">
              删除
            </a>
          </td>
          <ng-template #isAdminTdTpl>
            <td></td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<!-- 单个添加用户模态框 -->
<nz-modal
  [(nzVisible)]="addUserModalStatus"
  nzTitle="单个添加用户"
  nzOkText="保存"
  nzClosable="false"
  (nzOnCancel)="toggleModal('addUserModalStatus')"
  (nzOnOk)="handleSaveAddUser()"
>
  <nz-tabset (nzSelectChange)="handleTabsetChange($event)" [nzSelectedIndex]="currentAddUserTab">
    <nz-tab nzTitle="添加师生信息">
      <!-- 添加师生信息表单 -->
      <form nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">用户角色</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-radio-group [(ngModel)]="addUserForm.role" name="role">
              <label nz-radio [nzValue]="roleType.student">学生</label>
              <label nz-radio [nzValue]="roleType.teacher">教师</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired nzFor="add_user_account">用户账号</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              id="add_user_account"
              nz-input
              [(ngModel)]="addUserForm.account"
              name="account"
              placeholder="请输入用户账号"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired nzFor="add_user_username">用户名</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              id="add_user_username"
              nz-input
              [(ngModel)]="addUserForm.username"
              name="username"
              placeholder="请输入用户名"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle="添加管理员信息">
      <!-- 添加管理员信息表单 -->
      <form nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">用户头像</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-upload [nzBeforeUpload]="avatarBeforeUpload" nzAccept="image/*">
              <button nz-button>
                <i nz-icon type="upload"></i>
                <span *ngIf="!addAdminForm.avatar; else uploadWordTpl">选择头像</span>
                <ng-template #uploadWordTpl>
                  <span>重新选择</span>
                </ng-template>
              </button>
              <span *ngIf="addAdminForm.avatar" class="upload_file_tip">
                <i nz-icon type="paper-clip" theme="outline"></i>&nbsp;{{ addAdminForm.avatar?.name }}
              </span>
            </nz-upload>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired nzFor="add_admin_account">用户账号</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              id="add_admin_account"
              nz-input
              [(ngModel)]="addAdminForm.account"
              name="account"
              placeholder="请输入用户账号"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired nzFor="add_admin_username">用户名</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              id="add_admin_username"
              nz-input
              [(ngModel)]="addAdminForm.username"
              name="username"
              placeholder="请输入用户名"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
  </nz-tabset>
</nz-modal>
<!-- 批量添加用户模态框 -->
<nz-modal
  [(nzVisible)]="importUserModelStatus"
  nzTitle="批量添加用户"
  nzOkText="上传"
  nzClosable="false"
  (nzOnCancel)="toggleModal('importUserModelStatus')"
  (nzOnOk)="handleImportUser()"
>
  <div class="import_modal">
    <div class="download_link">
      <a (click)="downloadImportUserTpl()">点击下载导入模板</a>
    </div>
    <div class="file_area">
      <nz-upload nzType="drag" [nzLimit]="1" [nzBeforeUpload]="userImportBeforeUpload">
        <p class="ant-upload-drag-icon">
          <i nz-icon type="inbox"></i>
        </p>
        <p class="ant-upload-text">点击选择或者拖拽文件到此区域上传</p>
        <p class="ant-upload-hint" *ngIf="userImportFile">
          <span class="upload_file_tip">
            <i nz-icon type="paper-clip" theme="outline"></i>&nbsp;{{ userImportFile?.name }}
          </span>
        </p>
      </nz-upload>
    </div>
  </div>
</nz-modal>
<!-- 编辑用户信息模态框 -->
<nz-modal
  [(nzVisible)]="editUserModelStatus"
  nzTitle="编辑用户信息"
  nzOkText="保存"
  nzClosable="false"
  [nzOkDisabled]="editForm.invalid"
  (nzOnCancel)="toggleModal('editUserModelStatus')"
  (nzOnOk)="handleEditUser()"
>
  <form nz-form #editForm="ngForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="7">用户角色</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-radio-group [(ngModel)]="editUserForm.role" name="role">
          <label nz-radio [nzValue]="roleType.student">学生</label>
          <label nz-radio [nzValue]="roleType.teacher">教师</label>
          <label nz-radio [nzValue]="roleType.admin">管理员</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="edit_user_account">用户账号</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input
          id="edit_user_account"
          nz-input
          [(ngModel)]="editUserForm.account"
          name="account"
          placeholder="请输入用户账号"
          required
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="edit_user_username">用户名</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input
          id="edit_user_username"
          nz-input
          [(ngModel)]="editUserForm.username"
          name="username"
          placeholder="请输入用户名"
          required
        />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
